body {
    padding: 40px 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 100px;
    background-color: #28282B;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

.section-padding {
    background-color: white;
    border-radius: 20px;
    width: 1044px;
    padding: 20px;
}

.section {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    border-right: 4px solid #F26A8D;
}

.section-name {
    font-size: 1.75em;
    font-family: Playwrite;
    margin: 10px 20px 0 0;
}

.section-thought {
    font-size: 1.2em;
    font-family: Playwrite;
    font-weight: lighter;
    margin: 10px 20px 20px 0;
}

.album {
    position: relative;
    width: 100%;
    max-height: 550px;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    /*justify-content: center;*/
    column-gap: 20px;
    row-gap: 20px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.album::-webkit-scrollbar {
    display: none; /* Safari, Chrome and Opera */
}

.album-photo {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    padding: 10px;
    border: 3px solid #F26A8D;
    border-radius: 20px;
    box-sizing: border-box;
}

.album-photo img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
}

.album-photo::after {
    content: "💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕";
    position: absolute;
    left: -10%;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid red;
    width: max-content;
}

.album-photo::before {
    content: "💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    border: 1px solid red;
    width: max-content;
}

.player {
    display: flex;
    flex-flow: row wrap;
    column-gap: 5px;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.player-title {
    font-family: Playwrite;
    margin: 10px 0;
    font-size: 1.5em;
    flex-grow: 1;
}

.player button {
    font-size: 1.5em;
    color: white;
    background-color: black;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    font-family: Calibri;
    outline: none;
    transition: 100ms;
}

.player button:hover {
    transition: 100ms;
    background-color: #880D1E;
}

.play:after {
    content: "Play";
}

.pause:after {
    content: "Pause";
}

.restart:after {
    content: "Restart"
}

.heart-stripe {
    position: relative;
    width: 1000px;
    height: 1.5em;
    line-height: 1.5em;
    overflow: hidden;
    text-align: center;
}

h1.main {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: white;
    color: #FF4958;
    font-family: Playwrite;
    font-size: 2.5em;
    border-top: 4px solid #FF4958;
    border-bottom: 4px solid #FF4958;
    margin: 40px 0 0 0;
}

p.main {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: -60px 0 0 0;
    padding: 20px calc(50% - 522px);
    background-color: white;
    font-family: Playwrite;
    font-weight: lighter;
    font-size: 1.5em;
    border-top: 4px solid #FF4958;
    border-bottom: 4px solid #FF4958;
}

.extend {
    outline: none;
    border: none;
    font-size: 1em;
    border-radius: 5px;
}

.extended {
    max-height: unset; !important
}

@media only screen and (max-width: 1200px) {
    .section-padding {
        width: 944px;
    }

    .album {
        max-height: 500px;
    }

    .album-photo {
        height: 450px;
        width: 450px;
    }

    .heart-stripe {
        width: 800px;
    }
}

@media only screen and (max-width: 1050px) {
    .section-padding {
        width: 744px;
    }

    .album {
        max-height: 400px;
    }

    .album-photo {
        height: 350px;
        width: 350px;
    }

    .heart-stripe {
        width: 600px;
    }
}

@media only screen and (max-width: 850px) {
    .section-padding {
        width: 644px;
    }

    .album {
        max-height: 350px;
    }

    .album-photo {
        height: 300px;
        width: 300px;
    }

    .heart-stripe {
        width: 500px;
    }
}

@media only screen and (max-width: 650px) {
    .section-padding {
        width: 544px;
    }

    .section-name {
        font-size: 1.25em;
    }

    .section-thought {
        font-size: 1em;
    }

    .album {
        max-height: 300px;
    }

    .album-photo {
        height: 250px;
        width: 250px;
    }

    .heart-stripe {
        width: 400px;
    }

    .player-title {
        font-size: 1.1em;
    }

    .player>button {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 400px) {
    .section-padding {
        width: 344px;
    }

    .album {
        max-height: 250px;
    }

    .album-photo {
        height: 150px;
        width: 150px;
        padding: 5px;
        border-radius: 10px;
    }

    .heart-stripe {
        width: 300px;
    }
}